/* You can add global styles to this file, and also import other style files */

.indicator {
  font-size: 30px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.indicator::before {
  content: "•";
}
